html, body {
  margin: 0;
  height: 100%;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 4vh;
  font-weight: bold;
}

header {
  background-color: yellow;
  color: green;
  min-height: 10%;
}

footer {
  background-color: black;
  color: white;
  min-height: 10%;
}

.container {
  display: flex;
  flex-shrink: 0;
  min-height: 80%;
}

.containerNavigation {
  padding: 2% 2% 0;
  background-color: antiquewhite;
  text-align: left;
  flex-basis: 20%;
}

.containerSidebar {
  padding: 2% 5% 0;
  background-color: #27ae60;
  flex: 30%;
}

.containerContent {
  padding: 5% 5% 0;
  background-color: #c0392b;
  flex: 50%;
}