html {
    height: 100%;
    font-size: 4vh;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 4vh;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #1abc9c;
    font-size: 4vh;
    flex-basis: 10%;
}

footer {
    color: white;
    background-color: black;
    font-weight: normal;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 1980px) {
    .container {
        height: 95%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
    }
}

.sidebar {
    padding: 10px 10px 40px;
    background-color: #27ae60;
    flex-basis: 30%;
}

.content {
    padding: 10px 10px 40px;
    background-color: #c0392b;
    flex-basis: 70%;
}