html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 1980px) {
  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: center;
  }
}

.logo {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 55px;
  color: #1abc9c;
  text-align: left;
  flex-basis: 50%;
  text-decoration: none;
  text-transform: uppercase;
}

.logo::first-letter {
  color: black;
}

.menu {
  padding: 30px;
  display: flex;
}

.menu a {
  padding: 0 30px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

.section-division {
  background-color: #1abc9c;
  display: flex;
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  justify-content: center;
}

.phone-logo {
  margin: 100px 100px 50px 0;
}

.info-text-block {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-text-block h1 {
  padding-bottom: 20px;
  font-size: 25px;
  color: white;
}

.info-text-block p {
  font-size: 11px;
  color: white;
}

button {
  font-size: 22px;
  border-radius: 3px;
  border: 2px solid white;
  width: 200px;
  text-decoration: none;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;
  background-color: #1abc9c;
}

.services {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px 50px 100px;
  justify-content: center;
}

.services div {
  width: 320px;
}

.services_item {
  text-align: center;
}

.services_item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.services_item p {
  color: black;
  font-size: 14px;
  padding: 10px;
}

.services_icon-color {
  color: #1abc9c;
}

.services_icon {
  margin-top: 20px;
  font-size: 30px;
}

h2 {
  font-size: 25px;
  color: white;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 20px;
}

.contacts {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.contact_item {
  width: 400px;
}

.contact_item:nth-child(2) {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.contact_item h2 {
  text-align: center;
}

.contact_item h2 {
  margin-top: 60px;
  margin-bottom: 10px;
}

.forms__block-row {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

input[type=text], [type=tel], [type=email], [type=password], [type=date], [type=url],
[type=datetime-local], [type=time], [type=number], [type=month], [type=file] {
  height: 33px;
  flex: 2;
  max-width: 280px;
}

.forms__block-row input {
  margin-left: 10px;
}

.forms__block-row textarea {
  padding: 0;
  flex: 1;
  height: 100px;
  resize: none;
}

[for=male], [for=female], [for=other] {
  padding-left: 10px;
}
