body {
  display: flex;
  flex-direction: column;
  background-color: #2C2D32;
  margin: 0;
}

.assignment {
  background-color: darkcyan;
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  color: white;
}

body .assignment:nth-child(11) {
  margin-bottom: 20px;
}

input {
  width: 180px;
  border-radius: 5px;
  outline: none;
  margin: 10px;
}

button { /* Identical styling of banner and forms buttons*/
  font-weight: bold;
  background-color: green;
  color: #000000;
  border: 2px solid green;
  border-radius: 5px; /*round the corners of the button*/
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px #3d3d3d;
  transition-duration: 0.4s;
  margin-bottom: 10px;
}

button:active {
  box-shadow: 0 0 #3d3d3d;
  transform: translateY(2px);
}

form {
  display: flex;
  flex-direction: column;
}

.chess-board {
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

#textArea {
  resize: none;
  width: 500px;
  height: 300px;
  border-radius: 5px;
  outline: none;
  margin: 10px;
}

.link {
  font-size: 1.2rem;
  resize: none;
  outline: none;
  border-radius: 5px;
  width: 40%;
  height: 30%;
  margin-bottom: 20px;
}

#textForCheck {
  width: 250px;
  outline: none;
  resize: none;
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}



